@import url('https://fonts.cdnfonts.com/css/piximisa');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}


h1{
    font-family: sans-serif;
    font-size: 48px;
}

.logo img{
    max-width: 140px;
    max-height: 140px;
    height: auto;
    width: auto;
}

.title{
    width: 100%;
    position: absolute;
    top: 2vh;
    text-align: center;
}

.imagemfundo img{
    width: 300px;
    height: 250px;
    position: absolute;
    top: 20vh;
    right: 50vw;
    z-index: 99;
    border-style:double;
    border-width: 2px;
    border-color: black;
}

.laranja{
    background-color: #fd4e09;
    width: 250px;height: 70vh;
    z-index: 98;
    position: absolute;
    left: 34%;
}
    
.apresentação{background-color: #F2F2F2;
    height: 29vh;
    width: 30vw;
    z-index: 99;
    position: absolute;
    top: 15vh;
    left: 51%;
    padding: 60px 0px 180px 40px;
    margin: 30px 0px 0px 20px;
    overflow-y: hidden;
}

.texto{
    margin: 35px 0px 0px 10px;
}

.apresentação h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.apresentação p{
    max-width: 300px;
    line-height: 25px;
    font-weight: 300;
}

.apresentação button{
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border: solid 1px ;
    border-color: #ee0d0d;
}

.slide2{
    background-image:url('/imagem/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    width: 100vw;
    height: 77vh;
    position: absolute;
    top: 95vh;
    text-align: center; 
    /* Tá sim, boa sorte
    Sim, pô kkkkk Só quero que tu desenvolve cabulosamente*/
}

.slide2 h1 , .slide2 p{
    color: rgb(3, 255, 255);
}

.slide2 h1{
    font-size: 65px;
    letter-spacing: 6px;
    padding: 22vh 0 30px 0;
}

.slide2 a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(3, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    font-weight: 500;
    position: absolute;
    top: 40vh;
}


.imagemFinal img{
    width: 420px;
    height: 240px;
    position: absolute;
    top: 170vh;
    right: 50vw;
    padding: 49px 0 50px 0;
}

.slide3 h1{
    width: 420px;
    height: 240px;
    position: absolute;
    top: 180vh;
    left: 50vw;
    font-weight: 500;
}

.slide3 p{
    width: 426px;
    height: auto;
    position: absolute;
    top: 198vh;
    left: 50vw;
}

 footer{
        position: absolute;
        color: white;
        width: 100vw;
        height: auto;
        background-color: #333333;
        text-align: center;
        padding: 5vh 0;
        top: 215vh;
    }